{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        
    {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
        <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </header>
    {% block content %}
        
    {% endblock content %}
        <footer>
    &copy; Copyright2025 AT 
    </footer>
</body>
</html>